.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-large {
  margin-top: 50px;
}

.text-area {
  margin-top: 50px;
  text-align: center;
  max-width: 730px;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: #363636;
  font-weight: 300;
  margin-bottom: 1rem;
}

.container-items {
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  #nav-logo-small-landing-page {
    display: none !important;
  }
}
