* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  outline: solid black;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
  font-weight: 400;
}

.nav-active {
  text-decoration: none;
  font-weight: 400;
  border-bottom: 3px solid #e76f18;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.068rem;
  padding-top: 2.875rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  list-style: none;
}

.nav-links li {
  padding-left: 1.375rem;
  padding-right: 1.375rem;
}

.nav-bar-desktop {
  background-image: url("./icons/Nav-svg.svg");
  /* background-position: top; */
  top: 42px;
  width: 512.45px;
  height: 91px;
  margin: 0 auto;
}

.nav-bar-mobile {
  display: none;
  background-image: url("./icons/nav-svg-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 10px;
  top: 42px;
  width: 95vw;
  height: 54.44px;
}

.nav-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.nav-logo-small {
  position: absolute;
  background-image: url("./icons/Palisie-logo-small-white.svg");
  background-repeat: no-repeat;
  left: 36px;
  top: 15px;
  background-size: 100%;
  width: 130px;
  height: 25px;
}

.menu-btn {
  position: absolute;
  top: 15px;
  right: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  width: 19.5px;
  height: 0.9px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px rgba(27, 27, 26, 0.2);
  box-shadow: 0 2px 5px rgba(27, 27, 26, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 19.5px;
  height: 0.9px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px rgba(27, 27, 26, 0.2);
  box-shadow: 0 2px 5px rgba(27, 27, 26, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.menu-btn__burger::after {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
  -ms-transform: rotate(45deg) translate(35px, -35px);
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
  -ms-transform: rotate(-45deg) translate(35px, 35px);
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav-links-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.068rem;
  padding-top: 2.875rem;
  letter-spacing: 0.05em;
  color: #ffffff;
  list-style: none;
  display: none;
  background-color: #363636;
  text-align: center;
}

.nav-links-mobile.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 97vh;
  width: 95vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-links-mobile.open li {
  margin-bottom: 56px;
}

.container-bg {
  background-image: url("./icons/Pattern.svg"), url("./icons/Pattern2.svg"),
    url("./icons/closer-text.svg");
  background-position: top right, bottom -40px left, bottom 41.5px right 148px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

p {
  margin: 0.7rem 15px;
}

.btn-style {
  padding: 0.625rem;
  width: 13.875rem;
  height: 3rem;
  display: block;
  border: none;
  background-color: #e76f18;
  border-radius: 0.125rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;

  letter-spacing: 0.05em;

  color: #ffffff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  min-height: 3.625rem;
  margin-top: auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.063rem;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  background: #363636;
  color: #ffffff;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.footer-ig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.footer-ig li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-ig li img {
  margin-right: 8px;
  margin-bottom: 2px;
}

footer li {
  padding: 0rem 1.5rem;
}

@media screen and (max-width: 1366px) {
  .container-bg {
    background-position: top right, bottom -15% left -10%,
      bottom 41.5px right 148px;
  }
}

@media screen and (max-width: 1150px) {
  .container-bg {
    background-position: top -20% right -20%, bottom -35% left -30%,
      bottom 31.5px right 108px;
  }
}

@media screen and (max-width: 970px) {
  .container-bg {
    background-position: top -50% right -20%, bottom -65% left -30%,
      bottom 21.5px right 78px;
  }
}
@media screen and (max-width: 768px) {
  .container-bg {
    background-position: top -60% right -25%, bottom -75% left -35%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav-bar-desktop {
    display: none;
  }
  .nav-bar-mobile {
    display: block;
  }

  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer li {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 44px;
    text-align: left;
  }

  .footer-ig li {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 470px) {
  .container-bg {
    background-position: top -80% right -25%, bottom -90% left -30%;
  }

  .nav-bar-mobile {
    margin-top: 10px;
  }
}

@media screen and (max-width: 414px) {
  .container-bg {
    background-position: top -80% right -25%, bottom -90% left -30%;
  }
}

@media screen and (max-width: 320px) {
  .container-bg {
    background-position: top -73% right -95%, bottom -73% left -5%;
  }
}
