* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container-bg {
  background-image: url("./icons/Pattern.svg"), url("./icons/Pattern2.svg");
  background-position: top right, bottom -40px left;
  background-repeat: no-repeat, no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
  justify-content: center;
}

.container-items {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area {
  text-align: center;
  max-width: 730px;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  color: #363636;
  font-weight: 300;
}

p {
  margin: 0.7rem 15px;
}

@media screen and (max-width: 1366px) {
  .container-bg {
    background-position: top right, bottom -15% left -10%;
  }
}

@media screen and (max-width: 1150px) {
  .container-bg {
    background-position: top -10% right -5%, bottom -25% left -15%;
  }
}
@media screen and (max-width: 1150px) {
  .container-bg {
    background-position: top -20% right -20%, bottom -35% left -30%;
  }
}
@media screen and (max-width: 970px) {
  .container-bg {
    background-position: top -50% right -20%, bottom -65% left -30%;
  }
}
@media screen and (max-width: 768px) {
  .container-bg {
    background-position: top -60% right -25%, bottom -75% left -35%;
  }
}

@media screen and (max-width: 470px) {
  .container-bg {
    background-position: top -80% right -25%, bottom -90% left -30%;
  }
}

@media screen and (max-width: 414px) {
  .container-bg {
    background-position: top -80% right -25%, bottom -90% left -30%;
  }
}

@media screen and (max-width: 320px) {
  .container-bg {
    background-position: top -73% right -95%, bottom -73% left -5%;
  }
}
