.logo-small {
  margin-top: 27.54px;
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-text {
  margin-top: 11rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #363636;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.contact-details {
  margin-top: 5.688rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #363636;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 2.75rem;

  margin-bottom: 10.125rem;
}

.btn-mail-us {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .logo-small {
    display: none;
  }
}
