.logo-small {
  position: absolute;
  width: 155px;
  height: 155px;
  left: 50px;
  top: 43.73px;
}

.our-products-row1 {
  display: flex;
  margin-top: 80px;
  /* margin-bottom: 10.063rem; */
  max-width: 1040px;
  width: 1040px;
  justify-content: space-between;
}
.our-products-row2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10.063rem;
  max-width: 1040px;
  width: 1040px;
  justify-content: space-evenly;
}

.product-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  height: 36.375rem;
  max-width: 222px;
  max-height: 582px;
}

.product-tab-large {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  height: 667px;
  max-width: 222px;
  max-height: 667px;
}

.product-tab-limited {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  height: 734px;
  max-width: 222px;
  max-height: 734px;
}

.product-name {
  font-size: 1.25rem;
  line-height: 1.438rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #363636;
  font-weight: 400;
}

.product-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: #363636;
}

.product-description {
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.02em;
  font-weight: 300;
  color: #363636;
}

.product-price {
  font-weight: 400;
}

.product-size {
  font-weight: 300;
}

p {
  margin: 0px;
}

.btn-order {
  width: 222px;
  height: 48px;
}

.product-limited {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #e76f18;
}

.container-bg {
  background-image: url("../icons/Pattern.svg"),
    url("../icons/Pattern-large.svg"), url("../icons/transparent.png");
  background-position: top right, top 65% left, bottom 41.5px right 148px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1537px) {
  .container-bg {
    background-position: top right, top 52% left -10%, bottom 41.5px right 148px;
  }
}

@media screen and (max-width: 1366px) {
  .container-bg {
    background-position: top right, top 52% left -20%, bottom 41.5px right 148px;
  }
}

@media screen and (max-width: 1150px) {
  .our-products-row1,
  .our-products-row2 {
    width: auto;
  }
  .container-bg {
    background-position: top -20% right -20%, top 45% left -25%,
      bottom 31.5px right 108px;
  }
}

@media screen and (max-width: 1040px) {
  .container-bg {
    background-position: top -20% right -20%, top 45% left -55%,
      bottom 31.5px right 108px;
  }
}

@media screen and (max-width: 860px) {
  .container-bg {
    background-position: top -20% right -20%, top 45% left -85%,
      bottom 31.5px right 108px;
  }
}

@media screen and (max-width: 768px) {
  .our-products-row1,
  .our-products-row2 {
    flex-direction: column;
  }

  .product-tab,
  .product-tab-limited {
    margin-bottom: 18px;
  }
  .logo-small {
    display: none;
  }
  .container-bg {
    background-position: top -40% right -25%, bottom -75% left -35%,
      bottom -25% left -20%;
  }
}
